body { font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif}

h1 { text-align: center; color: #0814fc; margin-left:30px;}

table.center { margin-left:auto;
               margin-right:auto;}

td { font-weight: bold;
     background-color: #b1ecf2;
     border: 2px solid black;
     border-collapse: collapse;
     padding: 5px; }

.btn {background-color:red; color:white;}