body { font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; }

h1 { text-align: center; color: #0814fc; margin-left:30px;}

table.center { margin-left:auto;
               margin-right:auto;}

td { font-weight: bold;
     background-color: #b1ecf2;
     border: 2px solid black;
     border-collapse: collapse;
     padding: 5px; }

.btnNormal { background-color:ghostwhite; color:;}

.btnReset { background-color:red; color:white;}

.btnCalc { background-color:green; color:white;}

#instructions { border: 3px double brown; width:900px; background-color:#ffcb9c; margin-left:330px;
                font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;}